* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 25%;
  font-family: sans-serif;
}

body {
  font-size: 4rem;
  height: 100vh;
  background-color: #222;
}

#root {
  height: 100%;
}

button, input, body {
  font-family: Inter;
}

button {
  border: none;
}

button,
input {
  outline: none;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 99px;
}